/* 
    Document   : registration
    Created on : Apr 29, 2013, 11:18:32 AM
    Author     : Labazin
    Description:
        Purpose of the stylesheet follows.
*/

.ui-button-text {
    padding-top: 4px !important;
    padding-right: 15px !important;
    padding-bottom: 4px !important;
    margin: 0px !important;
    font-size: 10pt !important;
}
