<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>#{chatText['title']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h:outputStylesheet library="default_theme" name="css/chat.css" />
</h:head>
<h:body>
    <h:form id="chatForm" styleClass="chatFormClass">
        <!-- Every 10 seconds update chat output -->
        <p:poll interval="10" update="chatForm:chatOutput" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north"
                          styleClass="NorthToolBar"
                          size="57">
                <p:toolbar>
                    <p:toolbarGroup align="left" style="margin: 5px 0px 0px 5px !important;">
                        <h:outputText value="#{chatText['toolbar.title']}, #{chat.currentUser.nick}"/>
                    </p:toolbarGroup>
                    <p:toolbarGroup align="right" styleClass="ToolBarClass">
                        <p:button value="#{chatText['toolbar.profile']}"
                                  outcome="profile" 
                                  icon="ui-icon-home"/>
                        <p:separator />
                        <p:commandButton value="#{chatText['toolbar.logout']}"
                                         icon="ui-icon-squaresmall-close"
                                         action="#{chat.logout()}"/>
                    </p:toolbarGroup>
                </p:toolbar>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <h:panelGroup id="chatOutput">
                    <ui:repeat var="message" value="#{chat.allMessages}">
                        <span class="MessageDate">#{message.formatDate}</span>
                        <span class="MessageNick">(#{message.user.nick})</span>:
                        <span class="MessageText">#{message.text}</span>
                        <br/>
                    </ui:repeat>
                </h:panelGroup>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="320" style="padding: 0px !important;">
                <h:panelGrid columns="2" style="width: 100% !important;">
                    <h:panelGroup>
                    <h:outputText value="#{chatText['viewOptions']}: "
                                  styleClass="ViewOptionsText" />
                    <p:selectOneButton value="#{chat.viewType}">
                        <f:selectItem itemLabel="50" itemValue="1" />
                        <f:selectItem itemLabel="100" itemValue="2" />
                        <f:selectItem itemLabel="200" itemValue="3" />
                        <f:selectItem itemLabel="#{chatText['viewOptions.all']}" itemValue="4" />
                        <p:ajax update="chatForm:chatOutput"/>  
                    </p:selectOneButton>
                    </h:panelGroup>
                    <p:commandButton value="#{chatText['sendMessage']}" 
                                 actionListener="#{chat.sendMessage()}"
                                 update="chatForm:chatOutput, chatInput"
                                 styleClass="SendMessageButton"/>
                </h:panelGrid>
                <p:inputTextarea id="chatInput"
                                 styleClass="ChatInput"
                                 value="#{chat.message}"
                                 rows="11"
                                 cols="50"/>
            </p:layoutUnit>
        </p:layout>
    </h:form>
</h:body>
</html>
