<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{profileText['title']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h:outputStylesheet library="default_theme" name="css/profile.css" />
</h:head>
<h:body>
    <h:form>
        <p:growl id="growl" showDetail="true" sticky="true" />
        
        <p:toolbar styleClass="toolBarClass">
            <p:toolbarGroup align="left">
                <p:commandButton value="#{profileText['toolbar.restore']}"
                                 actionListener="#{profile.restore}"
                                 update="@all"
                                 icon="ui-icon-disk"
                                 ajax="false"/>
                <p:commandButton value="#{profileText['toolbar.save']}"
                                 actionListener="#{profile.save}"
                                 icon="ui-icon-trash"
                                 ajax="false"
                                 update="growl"/>
            </p:toolbarGroup>
            <p:toolbarGroup align="right">
                <p:button value="#{profileText['toolbar.chat']}"
                          outcome="chat" 
                          icon="ui-icon-comment"/>
            </p:toolbarGroup>
        </p:toolbar>
        
        <h:outputText styleClass="Header" value="#{profileText['header']}"/>
        
        <p:fieldset legend="#{profileText['fieldset.password']}" 
                    styleClass="FieldSet" 
                    collapsed="true" 
                    toggleable="true" 
                    toggleSpeed="500">
            <h:panelGrid columns="6">
                <h:outputLabel value="#{profileText['password.new']}:"
                               for="new"/>
                <p:password id="new"
                            value="#{profile.newPassword}"/>
            </h:panelGrid>
        </p:fieldset>
        <p:fieldset legend="#{profileText['fieldset.personal']}"
                    styleClass="FieldSet" 
                    collapsed="true" 
                    toggleable="true" 
                    toggleSpeed="500">
            <h:panelGrid columns="4">
                
                <h:outputLabel value="#{profileText['personal.firstName']}:"
                               for="firstName"/>
                <h:inputText id="firstName"
                             required="true"
                             value="#{profile.user.firstName}"/>
                
                <h:outputLabel value="#{profileText['personal.nick']}:"
                               for="nick"/>
                <h:inputText id="nick"
                             required="true"
                             value="#{profile.user.nick}"/>
                
                <h:outputLabel value="#{profileText['personal.middleName']}:"
                               for="middleName"/>
                <h:inputText id="middleName"
                             required="true"
                             value="#{profile.user.middleName}"/>

                <h:outputLabel value="#{profileText['personal.email']}:"
                               for="email"/>
                <h:inputText id="email"
                             required="true"
                             value="#{profile.user.email}"/>

                <h:outputLabel value="#{profileText['personal.lastName']}:"
                               for="lasttName"/>
                <h:inputText id="lasttName"
                             required="true"
                             value="#{profile.user.lastName}"/>
            </h:panelGrid>
        </p:fieldset>  
    </h:form>
</h:body>
</html>
