<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>#{regText['title']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h:outputStylesheet library="default_theme" name="css/registration.css" />
</h:head>
<h:body>
    <h:form>
        <p:growl id="growl" showDetail="true" sticky="true" />

        <p:dialog id="regDialog"
                  header="#{regText['dialog.title']}"
                  height="220"
                  resizable="false"
                  draggable="false"
                  closable="false"
                  position="center"
                  visible="true">
            <h:panelGrid columns="2">
                
                <h:outputLabel value="#{regText['dialog.form.nick']}:"
                               for="nick"/>
                <h:inputText id="nick"
                             required="true"
                             value="#{registration.user.nick}"/>

                <h:outputLabel value="#{regText['dialog.form.email']}:"
                               for="email"/>
                <h:inputText id="email"
                             required="true"
                             validatorMessage="Указанный email не валидный"
                             value="#{registration.user.email}">
                    <f:validateRegex pattern="([^.@]+)(\.[^.@]+)*@([^.@]+\.)+([^.@]+)" />
                </h:inputText>
                
                <h:outputLabel value="#{regText['dialog.form.firstName']}:"
                               for="firstName"/>
                <h:inputText id="firstName"
                             required="true"
                             value="#{registration.user.firstName}"/>
                
                <h:outputLabel value="#{regText['dialog.form.middleName']}:"
                               for="middleName"/>
                <h:inputText id="middleName"
                             required="true"
                             value="#{registration.user.middleName}"/>

                <h:outputLabel value="#{regText['dialog.form.lastName']}:"
                               for="lasttName"/>
                <h:inputText id="lasttName"
                             required="true"
                             value="#{registration.user.lastName}"/>
                
                <h:outputLabel value="#{regText['dialog.form.password']}:"
                               for="password"/>
                <p:password id="password"
                            required="true"
                            value="#{registration.user.password}"/>

            </h:panelGrid>
            <f:facet name="footer">
                <p:button value="#{regText['back']}"
                          outcome="login" 
                          icon="ui-icon-arrowthick-1-w"/>

                <p:commandButton value="#{regText['dialog.form.registrate']}"
                                 action="#{registration.registrate()}"
                                 style="float:right; margin-bottom: 5px;"
                                 icon="ui-icon-circle-plus"
                                 update="growl"/>
            </f:facet>
        </p:dialog>
    </h:form>
</h:body>
</html>
